*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
}

li{
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.input-invio{
  margin: 80px 0;
  display: flex;
  justify-content: center;
}

.input-invio input,
.input-invio button{
  margin-right: 10px;
  padding: 0 20px;
} 

.container{
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
}

